@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body {
	margin: 0;
	font-family: "Montserrat", Sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

canvas {
	width: 100% !important;
	height: 100% !important;
}


.swal2-success-circular-line-left {
	display: none;
}

.swal2-success-fix {
	display: none;
}

.swal2-success-circular-line-right {
	display: none;
}